<a href="https://colab.research.google.com/github/Emmanuelmitra/map-function-in-python/blob/main/map_function_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# map() function in Python

1. what is map function in python ?
Python's map() is a built-in function that allows you to process and transform all the items in an iterable without using an explicit for loop, a technique commonly known as mapping. map() is useful when you need to apply a transformation function to each item in an iterable and transform them into a new iterable.

**2. syntax of map() function **:
             map(function_to_apply, list_of_inputs)

also can be written as: map(function, iterable)

In [1]:
# Python program to demonstrate working
# of map.
  
# Return double of n
def addition(n):
    return n + n
  
# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]

In [5]:
# 1. Write a map function that adds plus 7 to each item in the list.
l=[1,2,3,4,5,6,8,9]
f=lambda x: x+7
l=list(map(f, l))
print(l)

[8, 9, 10, 11, 12, 13, 15, 16]

In [7]:
# 2. rite a map function that returns the squares of the items in the list.
l=[1,2,3,4,5]
f=lambda x: x**2
l1=list(map(f,l))
print(l1)

[1, 4, 9, 16, 25]

In [8]:
# 3.Write a map function that adds "Hello, " in front of each item in the list.
l=['emmanuel', 'simon', 'ironman', 'superman']
f=lambda x: 'Hello, '+x
l1=list(map(f,l))
print(l1)

['Hello, emmanuel', 'Hello, simon', 'Hello, ironman', 'Hello, superman']

In [12]:
# Using map() function and len() function create a list that's consisted of lengths
#  of each element in the first list.

l=['emmanuel', 'simon', 'ironman','superman']
f=lambda x: len(x)
l1=list(map(f,l))
print(l1)

[8, 5, 7, 8]

In [17]:
# Using map() function and lambda and count() function create
# a list consisted of the number of occurence of both letter: e.
l=['emmanuel', 'simon', 'ironman','superman']
f= lambda x: x.count('e')
l1=list(map(f,l))
print(l1)

[2, 0, 0, 1]

In [22]:
# Using map() function and lambda and count() function create a list consisted of the number 
# of occurence of both letters: A and a.

l=['Emmanuel','Andhrapradesh', 'Simon', 'DAAA', 'Asia']
f=lambda x: x.lower().count('a')
l1=list(map(f,l))
print(l1)

[1, 3, 0, 3, 2]